{% extends 'header.html' %}
{% load static %}
{% block content %}
<div class="" style="height: 550px;">
    <img src="{% static 'image/big logo.jpg' %}" width="100%" height="100%" alt="">
</div>
<div class="container-fluid" style="background-color: whitesmoke;">
    <div class="row p-2">
        <div class="col-10 p-3">
            <h1 class="mb-4 ms-4 fw-bold" style="text-decoration: underline;">UFC</h1>
            <p>The Ultimate Fighting Championship (UFC) is an American mixed martial arts 
                (MMA) promotion company based in Las Vegas, Nevada. It is owned and operated by Zuffa, LLC, 
                a wholly owned subsidiary of Endeavor Group Holdings. It is the largest MMA promotion 
                company in the world and has some of the highest-level fighters in the sport on its roster. 
                It produces events worldwide that showcase twelve weight divisions (eight men's and four women's) and
                 abides by the Unified Rules of Mixed Martial Arts. As of 2020, it has held over 500 events. Dana White has
                  been its president since 2001. Under White's stewardship, it has grown into a globally popular
                   multi-billion-dollar enterprise.[8]</p>

               <p> The UFC was founded by business executive Art Davie and Brazilian martial artist Rorion Gracie,[9] and the 
                   first event was held in 1993 at the McNichols Sports Arena in Denver, Colorado.[10] The purpose of the early
                    Ultimate Fighting Championship competitions was to identify the most effective martial art in a contest with
                     minimal 
                   rules and no weight classes between competitors of different fighting disciplines. In subsequent events, more 
                   rigorous rules were created and fighters began adopting effective techniques from more than one discipline, 
                   which indirectly helped create a separate style of fighting known as present-day mixed martial arts.[9] In 2016,
                    UFC's parent company, Zuffa, was sold to a group led by Endeavor, then known as William Morris Endeavor (WME–IMG), 
                    including Silver Lake Partners, Kohlberg Kravis Roberts and MSD Capital[11] for US$4.025 billion.[12]
                 In 2021, Endeavor bought out Zuffa's other owners at a valuation of $1.7 billion.[</p>


        </div>

    </div>
    <div class="row">
        <div class="col-10 p-3">
            <h1 class="mb-4 ms-4 fw-bold" style="text-decoration: underline;">Women's MMA</h1> 
            <P>On November 16, 2012, the eve of UFC 154: St. Pierre vs. Condit, Dana White confirmed with Jim Rome the UFC would feature women's MMA with the signing of its first female fighter, Strikeforce bantamweight champion Ronda Rousey.[112] She subsequently became the first female UFC champion, the first Olympic medalist with a UFC title, and the first woman to defend a UFC title. She would successfully defend her title six times over a grand total of 1,074 days, before she was defeated by Holly Holm on November 15, 2015, at UFC 193.</P> 
            <p>On December 11, 2013, the UFC purchased the contracts of 11 female fighters from Invicta Fighting Championships to launch their 115-pound Strawweight division. Eight of the Invicta fighters took part in the 20th season of The Ultimate Fighter, The Ultimate Fighter: Team Pettis vs. Team Melendez, along with eight additional fighters signed up for the tournament via open tryouts.[113] Season winner, Invicta FC's Strawweight Champion, Carla Esparza became the first UFC women's strawweight champion, defeating Rose Namajunas in the finale. Other fighters on the show included Felice Herrig, Tecia Torres, Bec Hyatt, Randa Markos, Jessica Penne, and Joanna Jędrzejczyk.</p>

        </div>

    </div>
    <div class="row">
        <div class="col-12 text-break">
            <h1 class="mb-4 ms-4 fw-bold" style="text-decoration: underline;">Unified Rules</h1>  
         <p>
        

The following acts constitute fouls in a contest or exhibition of mixed martial arts and may result in penalties, at the discretion of the referee, if committed:

<ul>- Butting with the head</ul>

<ul>- Eye gouging of any kind</ul>

 <ul>- Biting or spitting at an opponent</ul>

<ul>- Fish hooking (act of inserting a finger or fingers or one or both hands into the mouth or nostrils or a person, pulling away from the centerline of the body)</ul>

<ul>- Hair pulling</ul>

<ul>- Spiking an opponent to the canvas on his head or neck</ul>

<ul>- Strikes to the spine or the back of the head.</ul>

<ul>- Throat strikes of any kind, and/or grabbing the trachea</ul>

<ul>- Fingers outstretched toward an opponent's face/eyes</ul>

<ul>- Downward pointing elbow strike ('12 to '6 strike)</ul>

<ul>- Groin attacks of any kind</ul>

<ul>- Kneeing and/or kicking the head of a grounded opponent</ul>

<ul>- Stomping a grounded opponent</ul>

<ul>- Holding opponent's gloves or shorts</ul>

<ul>- Holding or grabbing the fence or ropes with fingers or toes</ul>

<ul>- Small joint manipulation</ul>

<ul>- Throwing opponent out of ring/fighting area</ul>

<ul>- Intentionally placing a finger into any orifice or any cut or laceration of an opponent</ul>

<ul>- Clawing, pinching or twisting the flesh</ul>

<ul>- Timidity (avoiding contact with an opponent, intentionally or consistently dropping the mouthpiece or faking an injury)</ul>


         </p>

        </div>

    </div>

</div>


{% endblock %}