{% extends 'header.html' %}
{% load static %}
{% block content %}
<div class="container-fluid ">
    <div class="container border shadow mb-4">
        <div class="row">
            <div class="col-12  p-5  ">
                <h1 class="text-center mb-4">{{data.headline|upper}}</h1>
                <img src="{{data.image.url}}" alt="" width="100%">
                <h6 class="text-muted mt-2">{{data.date}}</h6>
                
                <p class="mt-4 ">{{data.content|safe}}</p>

            </div>

        </div>


    </div>

</div>

{% endblock %}
