{% extends 'header.html' %}
{% load static %}
{% block content %}
<style>
    .heading{
    font-family: broadway ;
    color: black;
}
.heading span{
    border-bottom : 3px solid #FE1839
 ;
}

</style>

<div class="container-fluid  " style="background-image: url('{{data.image.url}}');background-size: cover;height: 700px; opacity: .9;">
    <div class="container  text-light p-5" >
        
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8 p-5 ">
                
                

    
                    
                <div class="pt-4 row">
                     
                    <div class="col-12 p-5">
 
           


                    </div>

                </div>


                    

                    
                

            </div>


        </div>
        <div class="row">
           
            <div class="col-12 mt-4 fw-bold">
                       
                <div class="pt-4 row mt-5">
                     
                    <div class="col-12 mt-4">
                       <h6 class="fw-bold  mt-4 text-center" style="font-family: arial black;font-size: 30px ; color: whitesmoke;">"{{data.nickname|upper}}"</h6>
                       <h5 class="card-title text-center fw-bold " style="font-family: arial black;font-size: 50px; color: #FE1839 ">{{data.name|upper}}</h5>
                       <h5 class="fw-bold text-center text-light mt-2">{{data.division}},{{data.win}}-{{data.lose}}-{{data.draw}} (W-L-D)</h5>
           


                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="container-fluid " > 

    <div class="container  mt-4 border shadow">
      <div class="row mt-5">
        <div class="col-4 ps-5 text-start fw-bold">
            <h3 style="font-family: arial black">WEIGHT</h3>
            <h3 class="text-muted">{{data.weight}}</h3>

        </div>
        <div class="col-4 text-center fw-bold">
            <h3 style="font-family: arial black">HEIGHT</h3>
            <h3 class="text-muted">{{data.height}}</h3>

        </div>
        <div class="col-4 pe-5 text-end fw-bold">
            <h3 style="font-family: arial black">AGE</h3>
            <h3 class="text-muted ">{{data.age}}</h3>

        </div>

      </div>
    
     <div class="container p-4">
      <div class="row mt-5 text-center "><h1 class="mb-5 fw-bold">STATS & RECORDS</h1>
        <div class="col-4  fw-bold ">
            <h3 style="font-family: arial black">{{data.winstreak}}</h3>
            <h6 class="text-muted ">WIN STREAK</h6>

        </div>
        <div class="col-4 text-center fw-bold">
            <h3 style="font-family: arial black">{{data.ko}}</h3>
            <h6 class="text-muted">WIN BY KNOCKOUT</h6>

        </div>
        <div class="col-4 pe-4  fw-bold">
            <h3 style="font-family: arial black">{{data.sub}}</h3>
            <h6 class="text-muted  ">WINS BY SUBMISSION</h6>

        </div>

      </div>
     </div>
    </div>

</div>
 

<div class="container-fluid pt-5 pb-5">

    <h1 class="text-center mb-4 heading">Upcom<span>ing Mat</span>ches</h1>   
{% for x in umatches %}
        <div class="row  border events  ">
          <div class="col-1"></div>
          <div class="col-2 pt-5 ps-5 ">
            <img src="{% static 'image/logo.jpg' %}" alt="" width="70%">
            
          </div>
          <div class="col-5 ps-2 mb-0 ">
            <a href="{% url 'profile' id=x.athlete1.id %}"><img src="{{x.athlete1.bannerImage.url}}" alt="" width="49%"></a>
            <a href="{% url 'profile' id=x.athlete2.id %}"><img src="{{x.athlete2.bannerImage.url}}" alt="" width="49%" ></a>


          </div>
          <div class="col-4 pt-1">

            
            <h4 class=" mt-2" style="font-size: 20px;"> {{x.athlete1.name}} <span style="color: brown;">VS</span>  {{x.athlete2.name}}</h4>
            <h6>{{x.matchTime}} , {{x.location}}</h6>
            <P class="text-secondary">{{x.matchDate}}</P>
            
          </div>
         


        </div>

        {% endfor %}
</div>

<div class="container-fluid pt-5 pb-5">

    <h1 class="text-center mb-4 heading">Eve<span>nt Res</span>ults</h1>   
{% for x in Rmatches %}
        <div class="row  border events  ">
          <div class="col-1"></div>
          <div class="col-2 pt-5 ps-5 ">
            <img src="{% static 'image/logo.jpg' %}" alt="" width="70%">
            
          </div>
          <div class="col-5 ps-2 mb-0 ">
            <a href="{% url 'profile' id=x.athlete1.id %}"> <img src="{{x.athlete1.bannerImage.url}}" alt="" width="49%"></a>
            <a href="{% url 'profile' id=x.athlete2.id %}"> <img src="{{x.athlete2.bannerImage.url}}" alt="" width="49%" ></a>

          </div>
          <div class="col-4 pt-1">

            
            <h4 class=" mt-2" style="font-size: 20px;"> {{x.athlete1.name}} <span style="color: brown;">VS</span>  {{x.athlete2.name}}</h4>
            <h6>{{x.matchTime}} , {{x.location}}</h6>
            <P class="text-secondary">{{x.matchDate}}</P>
            <h6 class="fw-bold text-danger">Winner: {{x.result|safe}}</h6> 
          </div>
         


        </div>

        {% endfor %}
</div>

{% endblock %}