{% extends 'sidebar.html' %}
{% block content %}
{% load static %}

<div class="container-fluid bg-light mt-5">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <center><img src="{% static 'Visualization/gendermain.png' %}" class="d-block " alt="..." height="500px" width="80%"></center>
        </div>
        <div class="carousel-item">
          <center><img src="{% static 'Visualization/rounds.png' %}" class="d-block " alt="..." height="500px" width="80%"></center>
        </div>
        <div class="carousel-item">
          <center><img src="{% static 'Visualization/All Divisions.png' %}" class="d-block" alt="..." height="500px" width="80%"></center>
        </div>
        <div class="carousel-item">
          <center><img src="{% static 'Visualization/we.png' %}" class="d-block" alt="..." height="500px" width="80%"></center>
        </div>
      </div>
      <button class="carousel-control-prev" style="background-color: transparent; border: none;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" style="background-color: transparent; border: none;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


{% endblock %}