{% extends 'header.html' %}
{% load static %}

{% block content %}
 

<body>
    <div class="container-fluid " style="background-image: url('{% static 'image/ufchome.jpg' %}'); background-size: cover;">
        <div class="container  text-light p-5" >
            
            <div class="row p-4">
                <div class="col-2">
                </div>
                <div class="col-8 p-5 bg-dark bg-opacity-50 border shadow " >
                    <h3 class=" mb-5 text-center fw-bold">User Login</h3>
                    <form method="POST">
                        {% csrf_token %}
                        
                        <label class="fw-bold">Email Address</label>
    
                        <input type="email" class="form-control mb-3"  placeholder="enter a valid email" name="useremail"required>
                        <label class="fw-bold">Password</label>
                        <input type="password" placeholder="enter password"  name="password" id="" class="form-control">
                        
                     <div class="pt-4 row">
                         <div class="col-6">
                             <input type="checkbox">
                             <label  class="text-decoration-none text-strat">Remember me</label>

                         </div>
                         <div class="col-6 text-end ">
                             <a href="{% url 'forgotpass' %}" class="text-decoration-none text-end ms-auto">Forgot password?
                             </a>

                         </div>

                     </div>
    
                        
                        <div class=" mt-3">
                            <button type="submit"  class="btn btn-primary">Login</button>
                        </div>
                        
                    </form>
                    {% if res == 1 %}
                    <div class="alert alert-danger mt-3">
                     invalid credentials
 
                      </div>
                      {% endif %}
  

                </div>


            </div>
            <div class="row p-4">
                <div class="col-12 ">

                </div>

            </div>

        </div>

    </div>
</body>

{% endblock %}
