{% extends 'sidebar.html' %}
{% block content %}
{% load static %}
<style>
    .heading{
    font-family: broadway ;
    color: black;
}



</style>
<div class="container-fluid text-center p-2 " style="background: radial-gradient(red,black);background: cover;"  > 
   
    <h1 class="text-center text-light  mb-4 heading  p-4"> Weight comparison of two players</h1>
</div>    
<div ><h5 class=" text-center pt-3"> <i class="icofont-search mr-2"></i>select two players</h5>
<div class="row p-4">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="" method="post" class="mt-3">
            {% csrf_token %}
         <input class=" ms-5 search p-2 border shadow form-control" type="text" placeholder="enter first player " name="first_player">
         <input class=" ms-5 mt-3 search p-2 border shadow form-control" type="text" placeholder="enter second player " name="second_player">
         
         <center><input class=" p-2 mt-3 ps-4 pe-4" type="submit" name="search" value="Analyze"></center>
   
        </form>   
    </div>
    <div class="col-4"></div>

</div>
</div>


{% endblock %}